body{
    margin: 0;
}

#content{
    height: 200vh;
    width: 100%;
    background: linear-gradient(to bottom,red,orange,yellow,green,blue);
}
footer {
    height: 100px;
    background-color: aqua;
    width: 100%;
    position: fixed;
    bottom: 0;
        
}