* box-sizing{
    border: border-box;
} 

}
body  {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color:#291f1a;
}
.h2 span{
    color: lightgreen;
}
.cleaner{
    clear: both;
}

.selection{
    padding: 30px 50px;
}
/*nav*/
#menu{
    background-color: #fff;
    height: 50px;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 1;

}
#menu ul{
    margin: 0;
    list-style-type: none;
    
}
#menu ul .menu-item {
    display: inline-block;
    line-height: 50px;
    margin: 0 20px;
       
}
#menu ul .menu-item a{
    color:#1ac056;
    text-decoration: none;
}
    
#main-header {
    height: 80vh;
    background: url(../img/header-background.jpg) no-repeat;
     background-size: cover;
    position: relative;
}
#main-header .header-inner{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "roboto", sans-serif;
    
    
}

#main-header .header-inner h1{
    font-size: 70px;
}
#main-header .header-inner h1 span{
    color: lime;
}

#main-header .header-inner h1,
#main-header .header-inner h2{
    font-weight: 100;
}

#main-header .header-inner h2{
    font-size: 40px;
}
/*absolut*/

#about{
    text-align: center;
    background-color: #F9FCFE;
    
}
#about figure,
#about .about_info{
    width: 50%;
    float: left;
    display: inline-block;
    margin: 0;
}
#about figure img{
    width: 50%;
}

#about > div p {
    text-align: left;
}

