body{
    margin: 0;
}
.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.column{
    height: 100vh;
    width: 25%;
    display: inline-block;
    float: left;
    transition: all 0.5s linear;
}


.background{
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.column:hover{
    width: 40%;
    
}

 .container:hover .column:not(:hover){
    width: 20%;
}

#background-1{
    background-image: url(../img/179607_olte-oczy-czarny-kot.jpg);
}

#background-2{
    background-image: url(../img/41246308-img-black-cat-appreciation-day-jpg.jpg);
}
#background-3{
    background-image: url(../img/179607_olte-oczy-czarny-kot.jpg);
}
#background-4{
    background-image: url(../img/41246308-img-black-cat-appreciation-day-jpg.jpg);
}